<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277905172931-7618dvfr8b8ql8kgchnhm11nq406242p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277905172931-7618dvfr8b8ql8kgchnhm11nq406242p</string>
	<key>API_KEY</key>
	<string>AIzaSyACHvx9nn8bR-VmrR62dOC9o2tUbbqHzis</string>
	<key>GCM_SENDER_ID</key>
	<string>277905172931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePhoneAuthTesting.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-phone-auth-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-phone-auth-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277905172931:ios:eaa80fe09c5a24e090b576</string>
</dict>
</plist>